.mfn-main-slider {
      background-color: #1a1a1a;
    }

    #footerSection {
      background-color: #626262;
      
    }

    
  

    #Header_wrapper {
      z-index: 2;
    }

    #Content {
      z-index: 3;
    }

    #slide-1-layer-2-mobile {
      display: none;
    }

    #slide-3-layer-3-mobile {
      display: none;
    }

    #contactSection {
      padding-top: 100px;
      padding-bottom: 60px;
      background-color: rgba(15, 221, 175, .5);
    }

     @media only screen and (max-width: 1024px) {
       #footerSection {
         height: 230px;
       }

     }

    @media only screen and (max-width: 760px) {
      #slide-1-layer-2 {
        display: none;
      }
      #slide-1-layer-2-mobile {
        display: block;
      }
      #slide-3-layer-3 {
        display: none;
      }
      #slide-3-layer-3-mobile {
        display: block;
      }      
    }

    
    

    #slide1contentM,
    #slide2contentM,
    #slide3contentM,
    #calloutButtonsM,
    #logoM,
    #pFooterM {
      display: none;
    }

    @media only screen and (max-width: 640px) {
      #slide1contentM,
      #slide2contentM,
      #slide3contentM,
      #calloutButtonsM {
        display: block;
      }
      #slide1content,
      #slide2content,
      #slide3content,
      #calloutButtons {
        display: none;
      }
      #leftArrow {
        left: -50px !important;
      }
      #rightArrow {
        right: -50px !important;
      }
      #contactSection {
        padding-top: 50px !important;
        ;
      }

    }

    @media only screen and (max-width: 500px) {
      #logoM {
        display: block;
      }
      #logo {
        display: none;
      }
      #leftArrow {
        display: none;
      }
      #rightArrow {
        display: none;
      }
      #pFooter {
        display: none;
      }
      #pFooterM {
        display: block;
      }

    }

    #leftArrow {
      left: -30px;
    }

    #rightArrow {
      right: -30px;
    }

    h3 {
      color: #626262 !important;
    }

    h5 {
      color: #626262 !important;
    }

    table,
    tr,
    td {
      border: none !important;
      font-size: 16px;
      text-align: center;
    }

    .menu-item {
      cursor: pointer !important;
    }

    #getTalent:hover {
      color: #0fddaf !important;
      border-color: #0fddaf !important;
      text-decoration: none !important;
    }

    #getHired:hover {
      color: #0fddaf !important;
      border-color: #0fddaf !important;
    }

    #getTalentM:hover {
      color: #0fddaf !important;
      border-color: #0fddaf !important;
      text-decoration: none !important;
    }

    #getHiredM:hover {
      color: #0fddaf !important;
      border-color: #0fddaf !important;
      text-decoration: none !important;
    }

    #txtName, #txtFilename, #txtEmail {
      color:#626262 !important;
      background-color: transparent !important;
      font-size: 32px;
      width:700px;      
    }   

    #overlay-menu-gethired p{
      font-size:32px;
      color:white;
    }

    #thankYouText, #thankYouText1 {
      text-align: center;
      font-size: 38px;

    }

     #thankYouText{
       margin-top:50px;
     }

    #thankYouText1 {           
      letter-spacing: 12px;
      font-weight: 800;      
    }

    .tagButton {
      color:#626262 !important;
      border-color:#626262 !important;
      margin-bottom: 30px;
      border-radius:0px !important;
    }

    #btnOkGetHired{      
      color:#626262 !important;
      border-color:#626262 !important;
      margin-bottom: 30px;
      border-radius:0px !important;
    }

    
    #tagsDiv button:hover, #btnOkGetHired:hover{      
      background-color: rgba(255,255,255,.3) !important;      
    }


    #uploadCVLink, #termsLink, #nextLink1, #nextLink2{
      margin-bottom: 30px; 
      margin-top:30px; color:white;
      font-size: 32px;
      text-decoration: underline;
      cursor: pointer;
    }
    
    #uploadCVLink:hover, #termsLink:hover{
      color: #626262 !important;
    }

    
    #txtFilename {
      margin-top: 30px;
    }



    .skillButton, .plusButton {
    color: #626262 !important;
    border: solid;
    border-color: #626262;
    font-size: 16px;
    border-width: 1.5px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    }

    .plusButton:hover, .skillButton:hover {
          background-color: rgba(255,255,255,.5);
    }

    .tagSelected {
          background-color: rgba(255,255,255,.5);
    }

    #txtNewTag {
      color:#626262;
      padding:8px;
      font-size:18px;
      display: inline-block;
      width:125px;
      border-radius: 0px;
      margin-left: 15px;
    }

    