.mfn-main-slider {
      background-color: #1a1a1a;
    }

    #footerSection {
      background-color: #626262;
      
    }

    
  

    #Header_wrapper {
      z-index: 2;
    }

    #Content {
      z-index: 3;
    }

    #slide-1-layer-2-mobile {
      display: none;
    }

    #slide-3-layer-3-mobile {
      display: none;
    }

    #calloutSection {
      padding-top: 100px;
      padding-bottom: 60px;
      background-color: rgba(15, 221, 175, .5);
    }

     @media only screen and (max-width: 1024px) {
       #footerSection {
         height: 230px;
       }

     }

    @media only screen and (max-width: 760px) {
      #slide-1-layer-2 {
        display: none;
      }
      #slide-1-layer-2-mobile {
        display: block;
      }
      #slide-3-layer-3 {
        display: none;
      }
      #slide-3-layer-3-mobile {
        display: block;
      }      
    }

    
    

    #slide1contentM,
    #slide2contentM,
    #slide3contentM,
    #calloutButtonsM,
    #logoM,
    #pFooterM {
      display: none;
    }

    @media only screen and (max-width: 640px) {
      #slide1contentM,
      #slide2contentM,
      #slide3contentM,
      #calloutButtonsM {
        display: block;
      }
      #slide1content,
      #slide2content,
      #slide3content,
      #calloutButtons {
        display: none;
      }
      #leftArrow {
        left: -50px !important;
      }
      #rightArrow {
        right: -50px !important;
      }
      #calloutSection {
        padding-top: 50px !important;
        ;
      }

    }

    @media only screen and (max-width: 500px) {
      #logoM {
        display: block;
      }
      #logo {
        display: none;
      }
      #leftArrow {
        display: none;
      }
      #rightArrow {
        display: none;
      }
      #pFooter {
        display: none;
      }
      #pFooterM {
        display: block;
      }

    }

    #leftArrow {
      left: -30px;
    }

    #rightArrow {
      right: -30px;
    }

    h3 {
      color: #626262 !important;
    }

    h5 {
      color: #626262 !important;
    }

    table,
    tr,
    td {
      border: none !important;
      font-size: 16px;
      text-align: center;
    }

    .menu-item {
      cursor: pointer !important;
    }

    #getTalent:hover {
      color: #0fddaf !important;
      border-color: #0fddaf !important;
      text-decoration: none !important;
    }

    #getHired:hover {
      color: #0fddaf !important;
      border-color: #0fddaf !important;
    }

    #getTalentM:hover {
      color: #0fddaf !important;
      border-color: #0fddaf !important;
      text-decoration: none !important;
    }

    #getHiredM:hover {
      color: #0fddaf !important;
      border-color: #0fddaf !important;
      text-decoration: none !important;
    }

    #txtName, #txtFilename, #txtEmail {      
      background-color: transparent !important;
      font-size: 32px;
      width:500px;      
      border-color: rgba(255,255,255,.5);            
      color:white;
    }   

    #greetingText1, #greetingText2 {
      font-size:52px !important; 
      text-align:center; 
      margin-bottom:50px;
    }
    
    #frm1Container label {
      font-size: 34px;
      color: white;
      font-weight:100;
      margin-bottom:25px;
      text-align:left;
      margin-left:96px;
    }


    #overlay-menu-gethired p{
      font-size:32px;
      color:white;
    }

    #thankYouText, #thankYouText1 {
      text-align: center;
      font-size: 38px;

    }

     #thankYouText{
       margin-top:50px;
     }

    #thankYouText1 {           
      letter-spacing: 12px;
      font-weight: 800;      
    }

    .tagButton {
      color:#626262 !important;
      border-color:#626262 !important;
      margin-bottom: 30px;
      border-radius:0px !important;
    }

    #btnNext1, #btnNext2, #btnUploadCV, #btnOkGetHired {    
      letter-spacing: 8px;
      font-size: 24px;
      font-weight: bold;
      border-width: 2px;
      color:white !important;
      border-color: #f7f7f7;      
      border-radius:0px !important;
      width: 500px;
      letter-spacing: 7px;
    }

    .btnGetHiredForm:hover {
      border-color:rgba(98,98,98,.5) !important;
    }
    

    #termsLink{
      color:white;
      cursor: pointer;
      margin-top:60px;
      font-size:16px;
      letter-spacing:5px;
      
      letter-spacing:7px;
    }

    #frm1Container input {
      margin-left:50px;
    }
    
    #termsLink:hover {
      color: #626262 !important;
    }

    .skillButton, .plusButton {
      color: #626262 !important;
      border: solid;
      border-color: #626262;
      font-size: 16px;
      border-width: 1.5px;
      padding: 10px;
      display: inline-block;
      cursor: pointer;
      margin-top: 10px;
      margin-right: 10px;
    }

    .plusButton:hover, .skillButton:hover {
          background-color: rgba(255,255,255,.5);
    }

    .tagSelected {
          background-color: rgba(255,255,255,.5);
    }

    #txtNewTag {
      color:#626262;
      padding:8px;
      font-size:20px;
      display: inline-block;
      width:125px;
      border-radius: 0px;
      margin-left: 10px;
      vertical-align: sub;
    }

    #txtNewTagError {
      border-color:red;
    }

    #getHiredForm1 {
      margin-top:-100px;
      text-align: center;
      
    }

     #getHiredForm2, #getHiredForm3 {
      
      text-align: center;
      
    }

#getHiredForm1 input {
  margin-left:96px;
}

#getHiredForm3 input {
  margin-left:96px;
}
